.crabby {
	z-index: 9999;
	position: fixed;
	bottom: -500px;
	right: 50px;
	width: 500px;
	height: 500px;
	background: -moz-radial-gradient(50% 50%, circle , #FFFFFF 0px, rgba(255, 255, 255, 0) 250px);
	background: -webkit-radial-gradient(50% 50%, circle , #FFFFFF 0px, rgba(255, 255, 255, 0) 250px);
	-webkit-transition: bottom 0.3s ease;
    -moz-transition: bottom 0.3s ease;
}

.crabby:after {
	content: " ";
	background: url(++resource++mr.crabby/images/crab_blue_body_400.png);
	position: absolute;
	left: 50px;
	top: 50px;
	width: 400px;
	height: 400px;
}

.crabby .arm {
	background: url(++resource++mr.crabby/images/crab_blue_arm_400.png);
	position: absolute;
	width: 202px;
	height: 156px;
	top: 256px;
	left: 210px;
	-moz-transform-origin: 180px 10px;
	-webkit-transform-origin: 180px 10px;
}

.crabby .arm .claw {
	background: url(++resource++mr.crabby/images/crab_blue_claw_400.png);
	position: absolute;
	top: 60px;
	width: 131px;
	height: 83px;
	-moz-transform-origin: 120px 10px;
	-webkit-transform-origin: 120px 10px;
}

@-moz-keyframes crab-wave {
	0% { -moz-transform: rotate(0deg); }
	20% { -moz-transform: rotate(30deg); }
	40% { -moz-transform: rotate(0deg); }
}
@-webkit-keyframes crab-wave {
	0% { -webkit-transform: rotate(0deg); }
	20% { -webkit-transform: rotate(30deg); }
	40% { -webkit-transform: rotate(0deg); }	
}

@-moz-keyframes crab-attack {
	0% { -moz-transform: rotate(0deg); }
	7% { -moz-transform: rotate(20deg); }
	14% { -moz-transform: rotate(-10deg); }
}
@-webkit-keyframes crab-attack {
	0% { -webkit-transform: rotate(0deg); }
	7% { -webkit-transform: rotate(20deg); }
	14% { -webkit-transform: rotate(-10deg); }
}

.crabby.attacking {
	bottom: -50px;
}
.crabby.attacking .arm {
	-moz-animation-name: crab-wave;
	-moz-animation-duration: 3s;
	-moz-animation-iteration-count: infinite;
	-moz-animation-timing-function: ease-in-out;
	-webkit-animation-name: crab-wave;
	-webkit-animation-duration: 3s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: ease-in-out;
}
.crabby.attacking .claw {
	-moz-animation-name: crab-attack;
	-moz-animation-duration: 0.75s;
	-moz-animation-iteration-count: infinite;
	-moz-animation-direction: alternate;
	-moz-animation-timing-function: ease-in-out;
	-webkit-animation-name: crab-attack;
	-webkit-animation-duration: 0.75s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-direction: alternate;
	-webkit-animation-timing-function: ease-in-out;
}
